
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> uploads ###
# Ignorer tous les fichiers uploadés
/public/uploads/*
# Mais garder les fichiers .gitkeep pour préserver la structure des dossiers
!public/uploads/.gitkeep
!public/uploads/recipe_illustrations/
/public/uploads/recipe_illustrations/*
!public/uploads/recipe_illustrations/.gitkeep
###< uploads ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/Cahier des Charges - Enoncé TP Développeur Web et Web Mobile.pdf